[submodule "vagrant/roles/jetbrains"]
	path = vagrant/roles/jetbrains
	url = https://gitlab.com/tomaskadlec/ansible-role-jetbrains.git
[submodule "demos/pruadc1"]
	path = demos/pruadc1
	url = https://github.com/Greg-R/pruadc1.git
[submodule "overlay/beaglebone-universal-io"]
	path = overlay/beaglebone-universal-io
	url = https://github.com/cdsteinkuehler/beaglebone-universal-io.git
[submodule "docs/pinmux"]
	path = docs/pinmux
	url = https://github.com/selsinork/beaglebone-black-pinmux.git
[submodule "tools/dtb-rebuilder"]
	path = tools/dtb-rebuilder
	url = https://github.com/RobertCNelson/dtb-rebuilder.git
[submodule "demos/pru-software-support-package"]
	path = demos/pru-software-support-package
	url = git://git.ti.com/pru-software-support-package/pru-software-support-package.git
[submodule "libs/eventqueue"]
	path = libs/eventqueue
	url = https://friedemann.stoffregen%40student.fh-kiel.de@stash.iue.fh-kiel.de/scm/cas/eventqueue.git
